.back-cad{
    height: 100vh;
    color: #fff;
}
.margem{
    margin-left: 20%;
    margin-right: 20%;
}
.large{
    width: 100%;
}
.fundo{
    background-image: url('https://img.freepik.com/fotos-gratis/o-tubo-de-ensaio-contendo-dna_1048-2002.jpg?w=900');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caixa2{
    background-color: rgba(17, 17, 17, 0.9);
    height: auto;
    width: auto;
    border-radius: 10px;
    padding: 15px 30px;
}