.title{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.itens{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 70%;
    font-size: 18px;
}
.itens ul{
    list-style: none; 
}